body {

}

.App {
  width: 80%;
  margin:auto
}
.cards{
  width:150px;
  height:100px;
  float: left;
  border-style: outset;
  border-color: coral;
  border-width: 2px;
  margin: 15px; 
  text-align: center;
  color: #ccc;
}


.headerSection{
  width: 100%
}

.imgHead {
  width: 50%;
  float: left;
  margin-top: -7px;
  margin-left: -20px;
}

.titleHead {
width: 50%;
float: left;
margin-top: 10px;
}

.description{
  width: 100%;
  text-align: center;
}
